*{margin: 0;
    padding: 0;
    font-family: sans-serif;}
    :root{
        --orange:#ffa500;
    }
    body{
        background: #ecf4fb;
    }
    
    header{
        position: fixed;
        top: 0; left: 0; right: 0;
        background: #333;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        padding: 1rem 5%;
    }
    
    header h1{
        color: #FFF;
    }
    
    header .logo{
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    
    header .logo span{
        color: var(--orange);
    }
    
    header .navbar a{
        color: #fff;
        font-size: 2rem;
        margin: 0 .8rem;
        text-decoration: none;
    }
    
    header .navbar a:hover{
        color: var(--orange);
    }
    
    #menu-bar{
        color: #fff;
        border: .1rem solid #fff;
        border-radius: .5rem;
        font-size: 3rem;
        padding: .5rem 1.2rem;
        cursor: pointer;
        display: none;
    }
h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: gold;
}

.vine-gallery {
    display: flex;
    flex-wrap: wrap;
}

.vine {
 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 18px;
    text-align: center;
}


.buttons button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: gold;
   font-size:20px;
   padding: 5px 15px;
}
img{
    width: 220px;
    height: 300px;

}

.nameVine{

    font-size: 25px;
}

.like-count{
    color: green;
    font-size: 20px;
}

.dislike-count{
    color: red;
    font-size: 20px;
}
